{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var memos_url = "{{=URL('api', 'get_memos')}}";
    var add_memo_url = "{{=URL('api', 'add_memo', user_signature=True)}}";
    var edit_memo_url = "{{=URL('api', 'edit_memo', user_signature=True)}}";
    var del_memo_url = "{{=URL('api', 'del_memo', user_signature=True)}}";
    var toggle_public_url = "{{=URL('api', 'toggle_public', user_signature=True)}}";
</script>
{{end}}

<div class="main_content">

    <div id="vue-div" class="display:none">
        <!-- Your code goes here.  Remember to call $("#vue-div").show() once you get the data for the first time. -->

        <!-- Logged In User -->
        {{if auth.user is not None:}}


            <div class="audio_test">
                <audio controls>
                    <source src="/therafone/static/audio/Heynong_Man.mp3" type="audio/mp3"/>
                </audio>
            </div>

            <!-- Memo List -->



        <!-- Guest User -->
        {{else:}}

            <!-- Guest Info -->
            <h1 class="main_title" style="color: #1b3249">Welcome to Therafone!</h1>
                <p class="explanation">
                This is a Music Therapy Website, press play if you want to try the game!
                If you Login you can upload some music and check out our Music Library.</p>
            <div class="center">
                <a href="{{=URL('default', 'play')}}" class="gbutton">PLAY!</a>
            </div>

            <!-- Memo List -->

        {{pass}}
    </div>

</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>
