{{extend 'layout.html'}}

{{block head}}
        <script src="{{=URL('static', 'js/vue.js')}}"></script>
        <script src="{{=URL('static', 'js/jquery.js')}}"></script>

<script>
    var bpm = 70;
    var duration = 184;
</script>

{{end}}


<div class="main content">
    <div id="vue-div" class="display:none">

        <!-- Container for the activity window style="text-align: center" -->

        <div class="game_container">

            <div class="word_space">
                <p class="center bold"> Watch me bounce bitch </p>
            </div>


            <div class="dot_space">

                <div v-if="show" class="center">
                    <button class="gbutton" v-on:click="play()">Test</button>
                    <button class="gbutton" id="play">PLAYYYYY</button>
                    <button class="gbutton" id="pause" >PAUSE ME </button>
                    <button class="gbutton" id="restart">PLZ RESTART</button>
                </div>

                <div id="dot" class="dot animated"></div>


            </div>

            <div class="floor_space">

            </div>

        </div>


    </div>
</div>

<script src="{{=URL('static', 'js/default_index.js')}}"></script>