{{extend 'layout.html'}}

{{block head}}
        <script src="{{=URL('static', 'js/vue.js')}}"></script>
        <script src="{{=URL('static', 'js/jquery.js')}}"></script>


        <script>
            var play_url = "{{=URL('api', 'play_track')}}";
            var tracks_url = "{{=URL('api', 'get_tracks', user_signature=True, hash_vars=False)}}";
            var inc_plays_url = "{{=URL('api', 'inc_plays', user_signature=True)}}";
            var get_insertion_id_url = "{{=URL('api', 'get_insertion_id', user_signature=True)}}";



            var speed = 92;
            var duration = 417;
        </script>


{{end}}


<div class="main content">
    <div id="vue-div" class="display:none">

        <div class="container">

            <!-- Container for user quick reference library -->
            <div class="container quarter">


            </div>

            <!-- Container for the activity window style="text-align: center" -->
            <div class="game_container">
                <div class="word_space">
                    <p class="center bold"> Press Play to Start</p>
                </div>

                <div class="dot_space center black">

                    <button class="gbutton" v-on:click="play(62, 417)">PLAY</button>
                    <button class="gbutton" v-on:click="pause()">PAUSE</button>
                    <button class="gbutton" v-on:click="restart()">RESTART</button>
                    <div id="dot" class="dot animated"></div>

                </div>


                <div class="floor_space">
                    <div v-if="is_playing" class="audio_test" style="background: white">
                        <audio id="song" controls autoplay>
                                <source src="/therafone/static/audio/Heynong_Man.mp3" type="audio/mp3"/>
                        </audio>
                    </div>

                    <div class="right">
                        <button class="bbutton" style="background: #b9cfa0" v-on:click="play(speed/3, duration)">EASY</button>
                        <button class="bbutton" style="background: #fff47e" v-on:click="play(speed, duration)">MEDIUM</button>
                        <button class="bbutton" style="background: #d26ed0" v-on:click="play(speed*3, duration)">HARD</button>
                    </div>

                </div>




            </div>


        </div>


<script src="{{=URL('static', 'js/default_play.js')}}"></script>