/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
div.main_content {
  padding: 10px;
}

/* line 9, ../sass/_main.scss */
div.add_btn {
  margin: 5px;
}
/* line 11, ../sass/_main.scss */
div.add_btn a {
  padding: 10px;
}

/* line 16, ../sass/_main.scss */
div.memo {
  margin: 5px;
  border: 2px solid gray;
  padding: 5px;
}
/* line 21, ../sass/_main.scss */
div.memo div.memo_title {
  font-weight: bold;
  font-size: 150%;
}
/* line 25, ../sass/_main.scss */
div.memo div.button_list {
  text-align: right;
  margin-top: 10px;
}
/* line 27, ../sass/_main.scss */
div.memo div.button_list div.buttons {
  display: inline-block;
}
/* line 31, ../sass/_main.scss */
div.memo div.button_list a.btn {
  padding: 10px;
}



/* misc classes */

.bold {
  font-weight: bold;
}

.blue {
    color: blue;
}


/* Buttons */
.gbutton {
  background: black;
  color: white;
  text-align: center;
  border: 0;
  padding: 5px 15px;
  border-radius: 4px;
  outline: 0;
  display: inline-block;
  cursor: pointer;
}


/* activity page */
.game_container {
  border: 1px solid black;
  height: 400px;
  width: 600px;
  margin: 0 auto;
}

div.game_container div.word_space {
  background-color: #f5f5f5;
  color: #0e0e0e;
  height:100px;
  width: 599px;
  border-right: 1px solid black;
}


div.game_container div.dot_space {
  background-color: #f5f5f5;
  height: 200px;
  width: 599px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  position: relative;
}

div.game_container div.floor_space {
  height: 98px;
  width: 598px;
  background-color: #607392;
}


/* Bouncing ball stuff */
.dot {
  margin-left: 295px;
  text-align: center;
  background-color: #2aabd2;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: relative;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}


.animated {
    animation: bounce-in ;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-play-state: paused;
    -webkit-animation: bounce-in;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-play-state: paused;
}


@keyframes bounce-in {
  0% {transform: translate(0px, 0px);}
  50% {transform: translate(0px, 145px);}
  100% {transform: translate(0px, 0px);}
}


@-webkit-keyframes bounce-in {
  0% {-webkit-transform: translate(0px, 0px);}
  50% {-webkit-transform: translate(0px, 145px);}
  100% {-webkit-transform: translate(0px, 0px);}
}

/* end activity page*/

