/* line 1, ../sass/_main.scss */
.colorful {
  color: #bb8833;
}

/* line 5, ../sass/_main.scss */
div.main_content {
  padding: 10px;
}

/* line 9, ../sass/_main.scss */
div.add_btn {
  margin: 5px;
}
/* line 11, ../sass/_main.scss */
div.add_btn a {
  padding: 10px;
}

/* line 16, ../sass/_main.scss */
div.memo {
  margin: 5px;
  border: 2px solid gray;
  padding: 5px;
}
/* line 21, ../sass/_main.scss */
div.memo div.memo_title {
  font-weight: bold;
  font-size: 150%;
}
/* line 25, ../sass/_main.scss */
div.memo div.button_list {
  text-align: right;
  margin-top: 10px;
}
/* line 27, ../sass/_main.scss */
div.memo div.button_list div.buttons {
  display: inline-block;
}
/* line 31, ../sass/_main.scss */
div.memo div.button_list a.btn {
  padding: 10px;
}



/* misc classes */

.bold {
  font-weight: bold;
}



/* Buttons */
.gbutton {
  background: black;
  color: white;
  text-align: center;
  border: 0;
  padding: 5px 15px;
  border-radius: 4px;
  outline: 0;
  display: inline-block;
  cursor: pointer;
}


/* activity page */
div.game_container {
  border: 1px solid black;
  height: 400px;
  width: 600px;
    margin: 0 auto;
}

div.game_container div.word_space {
  background-color: #f5f5f5;
  padding: 50px 0;
  text-align: center;
  color: #0e0e0e;
  height:100px;
  width: 599px;
  border-right: 1px solid black;
}


div.game_container div.dot_space {
  background-color: #f5f5f5;
  height: 200px;
  width: 599px;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
    position: relative;
}

div.game_container div.floor_space {
  height: 98px;
  width: 598px;
  background-color: #607392;
}


/* Bouncing ball stuff */
.dot {
  margin-left: 295px;
  text-align: center;
  background-color: #2aabd2;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: relative;
    -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}


.animated {
  animation: bounce-in ;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-play-state: paused;
    -webkit-animation: bounce-in;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -webkit-animation-play-state: paused;
}


@keyframes bounce-in {
  0% {transform: translate(0px, 0px);}
  50% {transform: translate(0px, 145px);}
  100% {transform: translate(0px, 0px);}
}

@-webkit-keyframes bounce-in {
  0% {-webkit-transform: translate(0px, 0px);}
  50% {-webkit-transform: translate(0px, 145px);}
  100% {-webkit-transform: translate(0px, 0px);}
}

/* end activity page*/



/*





@keyframes bounce-in {
  0% {transform: translate(0px, 0px);}
  50% {transform: translate(0px, 145px);}
  100% {transform: translate(0px, 0px);}
}

@-webkit-keyframes bounce-in {
  0% {-webkit-transform: translate(0px, 0px);}
  50% {-webkit-transform: translate(0px, 145px);}
  100% {-webkit-transform: translate(0px, 0px);}
}

@-moz-keyframes bounce-in {
  0% {-moz-transform: translate(0px, 0px);}
  50% {-moz-transform: translate(0px, 145px);}
  100% {-moz-transform: translate(0px, 0px);}
}

@-ms-keyframes bounce-in {
  0% {-ms-transform: translate(0px, 0px);}
  50% {-ms-transform: translate(0px, 145px);}
  100% {-ms-transform: translate(0px, 0px);}
}

@-o-keyframes bounce-in {
  0% {-o-transform: translate(0px, 0px);}
  50% {-o-transform: translate(0px, 145px);}
  100% {-o-transform: translate(0px, 0px);}
}




 from {
    top: 75px;
  }
  to {
    top: 175px;
  }


.bounce-enter-active {
  animation: bounce-in;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.bounce-leave-active {
  animation: bounce-in;
  transition-duration: 1s;
  transition-timing-function: linear;
  transition-property: reverse;
}
*/

/*  0% {transform: translate3d(0, 0px, 0);}
  10% {transform: translate3d(0, 10px, 0);}
  25% {transform: translate3d(0, 25px, 0);}
  35% {transform: translate3d(0, 35px, 0);}
  50% {transform: translate3d(0, 50px, 0);}
  60% {transform: translate3d(0, 60px, 0);}
  75% {transform: translate3d(0, 75px, 0);}
  85% {transform: translate3d(0, 85px, 0);}
  100% {transform: translate3d(0, 100px, 0);}



  0% {@include ddot(0px);}
  10%, 35%, 60%, 85%, 15%, 40%, 92%, 5%, 40% {@include ddot();}
  25% {@include ddot(25px);}
  50% {@include ddot(50px);}
  75% {@include ddot(75px);}
  100% {@include ddot(100px);}

   */








/*
.bounce-enter-active {
  animation: bounce-in 1s ;
  animation-timing-function: linear;
}

.bounce-leave-active {
  animation: bounce-in 1s;
  animation-timing-function: linear;
  animation-direction: reverse;
}
*/



/* this gets the url for the ball */
/*


.bounce-enter-active {
  animation: bounce-in;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  transition-timing-function: linear;
}

.bounce-leave-active {
  animation: bounce-in;
  transition-duration: 1s;
  -webkit-transition-duration: 1s;
  -webkit-transition-property: reverse;
  transition-property: reverse;
  transition-timing-function: linear;

}

@mixin ddot($yaxis: 0) {
  transform: translate3d(0, $yaxis, 0);
}



0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }

body {
  font-family: 'Bitter', serif;
  width: 100vw;
  height: 100vh;
  background: #eeeeee;
  /* Old browsers */
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6
  background: linear-gradient(to bottom, #eeeeee 0%, #cccccc 65%, #eeeeee 99%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ /
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 );
  /* IE6-9 /
}


#app {
  text-align: center;
  margin: 60px;
  max-width: 320px;
  margin: 0 auto;
  display: table;
}

.num {
  color: #AF007E;
}

button {
  font-family: 'Bitter';
  background: #c62735;
  color: white;
  border: 0;
  padding: 5px 15px;
  margin: 0 10px;
  border-radius: 4px;
  outline: 0;
  cursor: pointer;
}

h4 {
  margin: 0 0 15px;
}

hr {
  border-color: #F2FAFF;
  opacity: 0.5;
  margin: 15px 0;
}

.ball {
  width: 60px;
  height: 60px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/soccerball.svg");
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: translate3d(0, 300px, 0) rotate(0);
          transform: translate3d(0, 300px, 0) rotate(0);
}

@-webkit-keyframes bouncein {
  1% {
    -webkit-transform: translate3d(0, -400px, 0);
            transform: translate3d(0, -400px, 0);
  }
  20%, 40%, 60%, 80%, 95%, 99%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, -80px, 0);
            transform: translate3d(0, -80px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -40px, 0);
            transform: translate3d(0, -40px, 0);
  }
  70% {
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
  97% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
}

@keyframes bouncein {
  1% {
    -webkit-transform: translate3d(0, -400px, 0);
            transform: translate3d(0, -400px, 0);
  }
  20%, 40%, 60%, 80%, 95%, 99%, 100% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  30% {
    -webkit-transform: translate3d(0, -80px, 0);
            transform: translate3d(0, -80px, 0);
  }
  50% {
    -webkit-transform: translate3d(0, -40px, 0);
            transform: translate3d(0, -40px, 0);
  }
  70% {
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }
  97% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }
}
@-webkit-keyframes rollout {
  0% {
    -webkit-transform: translate3d(0, 300px, 0);
            transform: translate3d(0, 300px, 0);
  }
  100% {
    -webkit-transform: translate3d(1000px, 300px, 0);
            transform: translate3d(1000px, 300px, 0);
  }
}
@keyframes rollout {
  0% {
    -webkit-transform: translate3d(0, 300px, 0);
            transform: translate3d(0, 300px, 0);
  }
  100% {
    -webkit-transform: translate3d(1000px, 300px, 0);
            transform: translate3d(1000px, 300px, 0);
  }
}
@-webkit-keyframes ballroll {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1000deg);
            transform: rotate(1000deg);
  }
}
@keyframes ballroll {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(1000deg);
            transform: rotate(1000deg);
  }
}
.ballmove-enter {
  -webkit-transform: translate3d(0, -400px, 0);
          transform: translate3d(0, -400px, 0);
}

.bouncein {
  -webkit-animation: bouncein 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) both;
          animation: bouncein 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.rollout {
  width: 60px;
  height: 60px;
  -webkit-animation: rollout 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: rollout 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.rollout div {
  -webkit-animation: ballroll 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: ballroll 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
*/

/*
#center {
  border-radius:50%;
  border:2px solid #000;
  position:fixed;
  width: 80px;
  height: 80px;
  margin-left: 250px;
  margin-top: 175px;
}

#ball {
  border-radius:50%;
  position: fixed;
  border:2px solid #000;
  width:20px;
  height:20px;
}


 div.rollout {
    animation: ballroll 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }


   border: 1px solid black;
  height: 400px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;



@mixin ballb($yaxis: 0) {
  transform: translate3d(0, $yaxis, 0);
}

body {
  font-family: 'Bitter', serif;
  width: 100vw;
  height: 100vh;
  background: #eeeeee; /* Old browsers /
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 65%, #eeeeee 99%); /* FF3.6-15 /
  background: -webkit-linear-gradient(top, #eeeeee 0%,#cccccc 65%,#eeeeee 99%); /* Chrome10-25,Safari5.1-6 /
  background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 65%,#eeeeee 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ /
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 /
}

#app {
  text-align: center;
  margin: 60px;
  max-width: 320px;
  margin: 0 auto;
  display: table;
}

.num {
  color: #AF007E;
}

h4 {
  margin: 0 0 15px;
}

hr {
  border-color: #F2FAFF;
  opacity: 0.5;
  margin: 15px 0;
}

.ball {
  width: 60px;
  height: 60px;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/28963/soccerball.svg");
  transform-origin: 50% 50%;
  transform: translate3d(0, 300px, 0) rotate(0);
}

@keyframes bouncein {
  1% { @include ballb(-400px); }
  20%, 40%, 60%, 80%, 95%, 99%, 100% { @include ballb() }
  30% { @include ballb(-80px); }
  50% { @include ballb(-40px); }
  70% { @include ballb(-30px); }
  90% { @include ballb(-15px); }
  97% { @include ballb(-10px); }
}

@keyframes rollout {
  0% { transform: translate3d(0, 300px, 0); }
  100% { transform: translate3d(1000px, 300px, 0); }
}

@keyframes ballroll {
  0% { transform: rotate(0); }
  100% { transform: rotate(1000deg); }
}

.ballmove-enter {
  @include ballb(-400px);
}

.bouncein {
  animation: bouncein 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}

.rollout {
  width: 60px;
  height: 60px;
  animation: rollout 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  div {
    animation: ballroll 2s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  }
}


*/



