.colorful {
  color: $clrHilight;
}

div.main_content {
  padding: 10px;
}

div.add_btn {
  margin: 5px;
  a {
    padding: 10px;
  }
}

div.memo {
  margin: 5px;
  border: 2px solid gray;
  padding: 5px;

  div.memo_title {
    font-weight: bold;
    font-size: 150%;
  }
  div.button_list {
    text-align: right;
    div.buttons {
      display: inline-block;
    }
    margin-top: 10px;
    a.btn {
      padding: 10px;
    }
  }
}

div.gbutton {
  padding: 2px;
  text-align: center;
  background-color: #6C8CD5;
  color: black;
  font-family: Impact, Charcoal, sans-serif;
}



div.game_container {
  border: 1px solid black;
  position: relative;
  div.word_space{

  }
  div.dot_space {
    border-bottom: black;
  }
  div.floor_space {
  }
}

.dot {
  position:relative;
  transition: bounce-in 2s linear;
}

.dot.transitioning {
  transition: bounce-in 2s;
  transition-timing-function: linear;
}



@keyframes bounce-in {
  0% {transform: translate(298px, 0px);}
  50% {transform: translate(298px, 145px);}
  100% {transform: translate(298px, 0px);}
}

