.colorful {
  color: $clrHilight;
}

div.main_content {
  padding: 10px;
}

div.add_btn {
  margin: 5px;
  a {
    padding: 10px;
  }
}

div.memo {
  margin: 5px;
  border: 2px solid gray;
  padding: 5px;

  div.memo_title {
    font-weight: bold;
    font-size: 150%;
  }
  div.button_list {
    text-align: right;
    div.buttons {
      display: inline-block;
    }
    margin-top: 10px;
    a.btn {
      padding: 10px;
    }
  }
}

div.game_container {
  border: 1px solid black;
  height: 400px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  position: relative;

  div.dot {
    background-color: #2aabd2;
    height: 25px;
    width: 25px;
    border-radius: 50%;
  }
}

